footer {
    background-color: var(--footer-color);
    color: white;
    margin-top: 150px; /* Space between page content and footer */
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    align-items: center;
}

footer .footer-icon {
    width: 30px;
    height: 30px;
}
footer .footer-icon * {
    width: 30px;
    height: 30px;
    color: red;
}

footer .footer-icon:hover {
    opacity: 0.8;
}

footer .footer-link {
    text-decoration: none;
    color: white;
}
footer .footer-link:hover {
    text-decoration: underline;
    opacity: 0.8;
}

footer section {
    position: relative;
    padding: 10px 0;
}

footer section:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust for line color and transparency */
}