.grid {
    display: grid;
}
.mw-800px {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mw-1024px {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mw-1400px {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.gap-10 { grid-gap: 10px; }
.gap-20 { grid-gap: 20px; }
.gap-30 { grid-gap: 30px; }
.gap-50 { grid-gap: 50px; }

.column-2 { grid-template-columns: 1fr 1fr; }
.column-3 { grid-template-columns: 1fr 1fr 1fr; }
.column-4 { grid-template-columns: 1fr 1fr 1fr 1fr; }

.row-2 { grid-template-rows: 1fr 1fr; }

@media only screen and (max-width: 700px) {
    .decrease-columns {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .decrease-columns article > div > div{
        display: flex;
        justify-content: center;
    }
}

.c-span-2 { grid-column: span 2; }
.c-span-3 { grid-column: span 3; }

.r-span-2 { grid-row: span 2; }
.r-span-3 { grid-row: span 3; }

.f-10 { font-size: 10px; }
.f-12 { font-size: 12px; }
.f-14 { font-size: 14px; }
.f-16 { font-size: 16px; }
.f-18 { font-size: 18px; }
.f-24 { font-size: 24px; }

.all-upper { text-transform: uppercase; }
.all-lower { text-transform: lowercase; }

.j-left { justify-items: left; }
.j-center { justify-items: center; }
.j-right { justify-items: right; }