:root {
    --footer-color: #222;
    --main-color: #eee;
    --main-color-2: #fff;
    --main-color-3: #bbb;
    --main-color-o: rgba(120,120,120, 0.8);
    --secondary-color: #d31;
    --secondary-color-2: #f42;
    --secondary-color-o: rgba(200, 30, 30, 0.95);
    --text-color: #111;
    --text-color-2: #222;
    --text-color-3: #333;

    --pattern-color-1: #ddd;
    --pattern-color-2: #ccc;
}

.dark-mode {
    --footer-color: #0f0f0f;
    --main-color: #151515;
    --main-color-2: #1d1d1d;
    --main-color-3: #3c3c3c;
    --main-color-o: rgba(50,50,50, 0.8);
    --text-color: #ddd;
    --text-color-2: #eee;
    --text-color-3: #fff;

    --pattern-color-1: #121212;
    --pattern-color-2: #101010;
}

article p {
    word-break: break-word;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*margin-top: 100px;*/
    background-color: var(--main-color);
    color: var(--text-color);
}
main {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

section {
    padding-bottom: 50px;
}
.title-container  {
    padding-top: 150px;
    padding-bottom: 150px;
    /*background-color: var(--main-color);*/
    background-image:
            linear-gradient(30deg,  var(--pattern-color-1) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-1) 87.5%, var(--pattern-color-1)),
            linear-gradient(150deg, var(--pattern-color-1) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-1) 87.5%, var(--pattern-color-1)),
            linear-gradient(30deg,  var(--pattern-color-1) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-1) 87.5%, var(--pattern-color-1)),
            linear-gradient(150deg, var(--pattern-color-1) 12%, transparent 12.5%, transparent 87%, var(--pattern-color-1) 87.5%, var(--pattern-color-1)),
            linear-gradient(60deg,  var(--pattern-color-2) 25%, transparent 25.5%, transparent 75%, var(--pattern-color-2) 75%, var(--pattern-color-2)),
            linear-gradient(60deg,  var(--pattern-color-2) 25%, transparent 25.5%, transparent 75%, var(--pattern-color-2) 75%, var(--pattern-color-2));
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
article {
    width: 100%;
    display: grid;
    justify-items: center;
}
article div {
    display: block;
    width: 100%;
}

h1 {
    display: block;
    text-align: center;
    font-size: 60px;
}
h2 {
    display: block;
    text-align: center;
    font-size: 36px;
}
h3 {
    width: 100%;
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}
h4 {
    display: block;
    text-align: left;
    font-size: 20px;
}


.f-10 { font-size: 10px; }
.f-12 { font-size: 12px; }
.f-14 { font-size: 14px; }
.f-16 { font-size: 16px; }
.f-18 { font-size: 18px; }
.f-24 { font-size: 24px; }

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    margin: 0;
    background-color: var(--main-color-o);
    /*background-color: rgba(0,0,255,0.8);*/
    align-items: center;
    justify-content: center;
    flex-direction: row; /* align children in a column*/
}

.popup.active {
    display: grid;
}
.popup-content {
    opacity: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.popup .popup-canvas-container {
    margin: 10px;
    align-items: center;
    justify-content: center;
}
button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    min-height: 32px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color-2);
}

.project-image-container {
    position: relative;
    display: inline-block; /* don't take more space than needed */
    max-width: 1000px;
    aspect-ratio: 10/6; /* Ensures border stays consistent */
    width: 90%;
}

.project-image-container .image {
    justify-self: center;
    /* Exact location inside the cover*/
    padding-left: 13.4%;
    padding-right: 13.4%;
    padding-top: 8.5%;
    /* Scales height downwards */
    display: block;
    width: 100%;
    height: auto;
}

.project-image-container .cover {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}


.large-button {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    font-size: 30px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color-2);
    border-radius: 5px;
}

.button {
    display: inline-block;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color-2);
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--secondary-color-2);
}

.text-style-box {
    display: inline-block;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color-2);
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
}

.carousel-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.carousel-item {
    flex: 1 0 auto;
}
.carousel-dots {
    display: none;
}
@media only screen and (max-width: 700px) {
    .carousel {
        position: relative;
        overflow: hidden;
    }
    .carousel-images {
        display: flex;
        flex-direction: row;
        gap: 10px;
        transition: transform 0.3s linear;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }
    .carousel-item {
        flex: 1 0 100%; /*take up full width*/
        scroll-snap-align: center;
    }
    .carousel-dots {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
    }
    .dot {
        height: 10px;
        width: 10px;
        background-color: var(--secondary-color);
        border-radius: 50%;
        display: inline-block;
    }
}
